<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773553666185-e50hm16ugf2gp3s7sumhd6ef8dam8te6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773553666185-e50hm16ugf2gp3s7sumhd6ef8dam8te6</string>
	<key>API_KEY</key>
	<string>AIzaSyCmeJDrX31FrSI1LoUsfUDMeszF6mB2Vgs</string>
	<key>GCM_SENDER_ID</key>
	<string>773553666185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hivelet.Bloger</string>
	<key>PROJECT_ID</key>
	<string>bloger-981bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bloger-981bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773553666185:ios:4781a4efd5788922</string>
	<key>DATABASE_URL</key>
	<string>https://bloger-981bf.firebaseio.com</string>
</dict>
</plist>